<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        <Link :href="route('contacts.index')"> Contacts </Link>
      </h2>
    </template>
    <form
      @submit.prevent="
        form.put(route('contacts.update', { contact: contact.id }))
      "
    >
      <contact-form :form="form"></contact-form>
    </form>
  </app-layout>
</template>

<script>
import { useForm } from "@inertiajs/inertia-vue3";
import ContactForm from "./Form.vue";
import AppLayout from "@/Layouts/AppLayout.vue";

export default {
  components: {
    ContactForm,
    AppLayout,
  },
  props: ["contact"],
  setup() {
    const form = useForm({
      name: null,
      contact: null,
      email: null,
    });

    return { form };
  },
};
</script>
