<template>
  <form @submit.prevent="form.post('/login')">
    <!-- name -->
    <input type="text" name="name" v-model="form.name">
    <div v-if="form.errors.name">{{ form.errors.name }}</div>
    <!-- contact -->
    <input type="text" name="contact" v-model="form.contact">
    <div v-if="form.errors.contact">{{ form.errors.contact }}</div>
    <!-- email -->
    <input type="text" name="email" v-model="form.email">
    <div v-if="form.errors.email">{{ form.errors.email }}</div>
    <!-- submit -->
    <button type="submit" :disabled="form.processing">Send</button>
  </form>
</template>

<script>


export default {

  props: ['form'],

};
</script>

