<template>
  <app-layout title="Contatos">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        <Link :href="route('contacts.index')"> Contacts </Link>
      </h2>
    </template>

    <div class="flex flex-col max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="pb-1 flex justify-between">
            <jet-button
              @click="createContact"
              disabled
              class="
                btn
                inline-block
                px-6
                py-2.5
                bg-blue-700
                text-white
                font-medium
                text-xs
                leading-tight
                uppercase
                rounded
                shadow-md
                hover:bg-blue-600 hover:shadow-lg
                focus:bg-blue-600
                focus:shadow-lg
                focus:outline-none
                focus:ring-0
                active:bg-blue-800 active:shadow-lg
                transition
                duration-150
                ease-in-out
                flex
                items-center
              "
              type="button"
              id="button-addon2"
            >
              <i class="fa-solid fa-plus"></i>
              New Contact
            </jet-button>
            <div
              class="
                inline-flex
                items-center
                px-4
                py-2
                bg-transparent
                hover:bg-transparent
                focus:border-none
                active:bg-transparent
                border border-transparent
                rounded-md
                font-semibold
                text-xs text-white
                uppercase
                tracking-widest
                focus:outline-none
                disabled:opacity-25
                transition
              "
            >
              <input
                type="search"
                @keyup.enter="searchContact"
                :value="searchText"
                class="
                  form-control
                  relative
                  flex-auto
                  min-w-0
                  block
                  w-full
                  px-3
                  py-1.5
                  text-base
                  font-normal
                  text-gray-700
                  bg-white bg-clip-padding
                  border border-solid border-gray-300
                  rounded
                  transition
                  ease-in-out
                  m-0
                  focus:text-gray-700
                  focus:bg-white
                  focus:border-blue-600
                  focus:outline-none
                "
                placeholder="Search Contact"
                aria-label="Search Contact"
                id="searchInput"
                aria-describedby="button-addon2"
              />
              <jet-button
                @click="searchContact"
                class="
                  btn
                  inline-block
                  px-6
                  py-2.5
                  bg-blue-700
                  text-white
                  font-medium
                  text-xs
                  leading-tight
                  uppercase
                  rounded
                  shadow-md
                  hover:bg-blue-600 hover:shadow-lg
                  focus:bg-blue-600
                  focus:shadow-lg
                  focus:outline-none
                  focus:ring-0
                  active:bg-blue-800 active:shadow-lg
                  transition
                  duration-150
                  ease-in-out
                  flex
                  items-center
                "
                type="button"
                id="button-addon2"
              >
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="search"
                  class="w-4"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                  ></path>
                </svg>
              </jet-button>
            </div>
          </div>
          <div
            class="
              shadow
              overflow-hidden
              border-b border-gray-200
              sm:rounded-lg
            "
          >
            <table class="min-w-full divide-y text-center divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="
                      px-6
                      py-3
                      text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    ID
                  </th>
                  <th
                    scope="col"
                    class="
                      px-6
                      py-3
                      text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Name
                  </th>
                  <th
                    scope="col"
                    class="
                      px-6
                      py-3
                      text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Contact
                  </th>
                  <th
                    scope="col"
                    class="
                      px-6
                      py-3
                      text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Email
                  </th>
                  <th
                    scope="col"
                    class="
                      px-6
                      py-3
                      text-xs
                      font-medium
                      text-gray-500
                      uppercase
                      tracking-wider
                    "
                  >
                    Actions
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr v-bind:key="contact" v-for="contact in contacts.data">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <Link :href="route('contacts.show', contact.id)">
                      {{ contact.id }}
                    </Link>
                  </td>
                  <td class="px-6 py-4">
                    <Link :href="route('contacts.show', contact.id)">
                      {{ contact.name }}
                    </Link>
                  </td>
                  <td class="px-6 py-4">
                    <Link :href="route('contacts.show', contact.id)">
                      {{ contact.contact }}
                    </Link>
                  </td>
                  <td class="px-6 py-4">
                    <Link :href="route('contacts.show', contact.id)">
                      {{ contact.email }}
                    </Link>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap flex justify-everly">
                    <jet-button
                      :class="'mr-2'"
                      :type="button"
                      disabled
                      @click="editContact(contact.id)"
                      ><i class="fa-solid fa-pencil"></i
                    ></jet-button>
                    <jet-danger-button
                      :class="'mr-2'"
                      :type="button"
                      @click="deleteContact(contact.id)"
                      ><i class="fa-solid fa-trash"></i
                    ></jet-danger-button>
                  </td>
                </tr>
                <tr v-if="contacts.total == 0">
                  <td colspan="5" class="px-6 py-4 text-center">No Records</td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination
            class="mt-6 flex justify-center"
            :links="contacts.links"
          />
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout.vue";
import JetButton from "@/Jetstream/Button.vue";
import JetDangerButton from "@/Jetstream/DangerButton.vue";
import { Link } from "@inertiajs/inertia-vue3";
import Pagination from "@/CustomComponents/Pagination.vue";
import Swal from "sweetalert2";

export default {
  props: ["contacts", "searchText"],

  components: {
    AppLayout,
    JetDangerButton,
    JetButton,
    Pagination,
    Link,
  },

  methods: {
    searchContact() {
      const searchInputValue = document.querySelector("#searchInput").value;
      this.$inertia.get(
        route("contacts.index", { searchText: searchInputValue })
      );
    },

    createContact() {
      this.$inertia.get(route("contacts.create"));
    },

    editContact(contactId) {
      this.$inertia.get(route("contacts.edit", { contact: contactId }));
    },

    deleteContact(contactId) {
      if (!this.$page.props.authCheck) {
        return this.$inertia.get("/login");
      }
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.$inertia.delete(
            route("contacts.destroy", { contact: contactId })
          );
          Swal.fire("Deleted!", "Contact has been deleted.", "success");
        }
      });
    },
  },
};
</script>
