<template>
  <app-layout title="Contato: {{contact.name}}">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        <Link :href="route('contacts.index')"> Contacts </Link>
      </h2>
    </template>

    <div class="flex flex-col max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="align-middle inline-block p-2 sm:px-6 lg:px-8">
          <div
            class="
              shadow
              overflow-hidden
              p-2
              border-b border-gray-200
              sm:rounded-lg
            "
          >
            <ul class="list-disc">
              <li class="p-2">Name: {{ contact.name }}</li>
              <li class="p-2">Contact: {{ contact.contact }}</li>
              <li class="p-2">Email: {{ contact.email }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="flex justify-stard pt-3">
        <jet-button :type="button" disabled :class="'mr-3'">Edit</jet-button>
        <jet-danger-button :type="button" @click="deleteContact(contact.id)">Remove</jet-danger-button>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout.vue";
import JetButton from "@/Jetstream/Button.vue";
import JetDangerButton from "@/Jetstream/DangerButton.vue";
import { Link } from "@inertiajs/inertia-vue3";
import Pagination from "@/CustomComponents/Pagination.vue";
import Swal from "sweetalert2";

export default {
  props: ["contact"],

  components: {
    AppLayout,
    JetDangerButton,
    JetButton,
    Pagination,
    Link,
  },

  methods: {
    deleteContact(contactId) {
      if (!this.$page.props.authCheck) {
        return this.$inertia.get("/login");
      }
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          this.$inertia.delete(
            route("contacts.destroy", { contact: contactId })
          );
          Swal.fire("Deleted!", "Your file has been deleted.", "success");
        }
      });
    },
  },
};
</script>
